<h1> Welcome to the LUG Programming Competition! </h1>
<p> This is meant to be a fun, more informal competition. As such, it is unlimited group size, open book, open internet, open code, open language. Heck, if you want to collaborate between teams, you're welcome to, just be warned that the winning team receives only ONE of each prize, so you'll have to figure out who on your team deserves it the most....</p> <br />
<h1>Getting Started</h1>
<p> To get started, all you have to do is create ONE user account PER TEAM. Pick a password other people can know, because you'll be sharing this account. You should all be able to be logged into that account at the same time without issue. Once you've signed up and logged in, you should see a problems link in the upper right hand corner. Click it. This is the screen the problems will show up on once they're released.</p><br />

<h1> Submitting a Problem</h1>
<p>Think you have a problem solved? Then you'll have to tar or zip it up, and submit it via the file upload interface on the problem page. If your language is compiled, make sure there is a Makefile, or ant, or whatever your language happens to use. Also, ALL submissions should have a README on how to run your application.</p><br />

<h1>Receiving a Response</h1>
<p>Once we've reviewed your submission, we'll give you some feedback on it. This feed back can be found on the questions page of the problem, or if you want to see all feedback for all problems, click on your username in the upper right hand corner.</p><br />

<h1>Questions?</h1>
<p>Any questions you have, bugs you find, etc. can be directed to Carson or myself (Michael Wright / mdwright). If you don't want to take the time to walk over to us for whatever reason, or are just terrified of us, shoot us an e-mail. I'm available at mdwrigh2@ncsu.edu and Carson is available at clholgat@ncsu.edu.</p><br />

<h1> Good Luck and Have Fun! </h1>
